*{
    margin: 0%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.body{
    background-color: darkgray;
    width:100%;
    height: calc(auto + 100px);
    padding: 1% 0% 2% 0%;
}

.height-100{
    height: calc(100vh - 6vh);
}

.Nav-bar {
    height:6.5vh;
    border-radius: 10px;
    border-bottom: 2px solid black;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 6.5px;
}

.login-signup-button-container{
    width: 15%;
    display: flex;
    border: black;
    justify-content: space-evenly ;
}

.login-container, .signup-container{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px black;
    display: block;
    width : 30%;
    height: auto;
}

.login-page, .signup-page{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 93.5vh;
    background-color: darkgray;
}


.error{
    color: red;
}

.menu-icon{
    height: 4vh;
}

.signup{
    flex: 1;
    text-align: center;
    border-right: 1px solid #fff;
  }

.signup + .signup{
    border-left: solid 2px Black;
}

.sticky{
    position: fixed;
    width: 100%;
    top: 0;
}

.table-component{
    margin: calc(6.5vh + 2%) 2% 0% 2%;
    padding: 1%;
    align-items: space-between;
    background-color: white;
    border-radius: 10px;
    display: block;
    width : 94%;
    height: auto;
    border-collapse: separate;
}
table, thead, tbody{
    width: 100%;
}

table{
    border: 2px solid black;
    border-collapse: collapse;
    overflow: auto;
}

tr{
    display: flex;
    justify-content: center;
}

th{
    background-color: darkgray;
    width: 16.7%;
    text-align: center;
    border: 1px solid black;
    padding: 5px;
}

td {
    width: 16.7%;
    text-align: center;
    border: 1px solid black;
    padding: 5px;
}

tbody{
    display: table;
}