*{
  margin: 0%;
  overflow: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input [type="text"]{
  color:black;
}

input{
  line-height: 25px;
  width: 100%;
}

textarea{
  line-height: 30px;
  resize:none;
}

table, th, td{
  border: 2px solid black;
  color: black;
  border-collapse: collapse;
}

table{
  width: 100%;
  overflow-y: auto;
} 

table.scrolldown {
  width: 100%;
  border: 2px solid black;
}

td{
  text-align: center;
  height:40px;
}

tbody tr:nth-child(even){
  background-color: gray;
}

tbody {
  border-top: 2px solid black;
  overflow-y: auto;
}

.body::-webkit-scrollbar {
  display: none;
}

.body{
  overflow-y: scroll;
  color: #fff;
  background-color: #222831;
  width:100%;
  height: 100vh;
  padding: 1% 0% 2% 0%;
}

.Nav-bar {
  height:5vh;
  border-radius: 10px;
  border-bottom: 2px solid black;
  background-color: #31363F;
  display: flex;
  padding: 15px;
  width:calc(100vw - 30px);
}

.login-signup-button-container{
  width: 15%;
  display: flex;
  border: black;
  justify-content: space-evenly ;
}

.login-container, .signup-container{
  background-color: #31363F;
  border-radius: 10px;
  box-shadow: 5px 5px black;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 300px;
  height: auto;
  padding: 20px;
}

.login-page, .signup-page{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 93.5vh;
  background-color: #222831;
}

.error{
  color: red;
}

.main-title{
  width: 100%;
  display: flex;
  justify-content: center;
}

.user{
  display: flex;
  width: 100%;
  max-width: 30%;
  flex-direction: row-reverse;
  align-items: center;
  color: white;
}

.signup{
  flex: 1;
  text-align: center;
  border-right: 1px solid #fff;
}

.signup + .signup{
  border-left: solid 2px Black;
}

.sticky{
  position: fixed;
  top: 0;
}

.table-component{
  background-color: #fff;
  margin: 10.5vh 2% 2% 2%;
  padding: 1% 1% 1% 1%;
  align-items: space-between;
  border-radius: 10px;
  display: table;
  width : 94%;
  height: 50px;
}

.container{
  display: flex;
  background-color: white;
  border-radius: 20px;
  width: 380px;
}

.webcam-container{
  position: relative;
  background-color: white;
  border-radius: 20px;
  width: 380px;
  margin:10vh 0.5vh 10vh 30vh;
}

.user-input{
  margin:10vh 30vh 10vh 0;
  color: black;
}

.user-input-form{
  position: relative;
  padding:20px;
}

.user-input-form textarea{
  width: 100%;
}

.user-input-form input[type="text"]{
  width: 100%;
}

.register-user-title{
  display: flex;
  justify-content: center;
  color: black;
  font-size: 25px;
  font-weight: 700;
  font-variant:small-caps;
}

.user-field-title{
  margin: 10px 0px 7px 0px;
  font-size: 19px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.capture-button {
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: 20px; /* Position the button at the bottom */
  left: calc(50% + 30px); /* Center horizontally */
  background-color: white;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.capture-toggle-button {
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: 20px; /* Position the button at the bottom */
  left: calc(50% - 70px); /* Center horizontally */
  background-color: white;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.submit-button{
  background-color: green;
}